
.footer_head{
    background-color: #f2f2f2;
}
.links{
    margin: 5vh;
    font-weight: 500;
}
.links:hover{
    color: rgb(78, 78, 1);
    font-weight: bolder;
}
.footer_head{
    color: olive;
   
}
.footer_tag{
    margin-bottom: 15px;
} 

