.product_card_cart {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .prod_image_cart {
    width: 20vh;
    height: 20vh;
    padding: 0vh 1vh;
    margin-right: 10px;
  }
  
 .product_details_cart {
    flex-grow: 1;
  } 
  
  .prod_heading_cart {
    font-size: 18px;
    margin: 0;
  }

  .prod_type_cart {
    font-size: 14px;
    color: #555;
  }
  
  .actions_cart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .remove_from_cart:hover {
    background-color: #f44336;
  }
  
  .remove_from_cart {
    background-color: olive;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
  }
  